/*1.利用text-align:center;display: inline-block;居中*/
body {
  background: #f06d06;
  font-size: 80%;
}

/*main {
  background: white;
  margin: 20px auto;
  padding: 100px;
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  background: black;
  color: white;
  padding: 15px;
  max-width: 125px;
  margin: 5px;
  text-align: left;
}*/
/*2.利用flex布局中的display:flex; justify-content:center;居中*/
main {
  display:flex;
  justify-content:center;
  background: white;
  margin: 20px auto;
  padding: 100px;
}
.inline-block-center div {
  background: black;
  color: white;
  padding: 15px;
  max-width: 125px;
  margin: 5px;
  text-align: left;
}
